*{
    box-sizing: border-box;
}
.maindiv{
    padding: 35px;
    display: flex;
    /* justify-content: space-between; */
}

.firstcontainer{
    width: 20vw;
    /* border: 1px solid black; */
}

.secondcontainer{
    width: 20vw;
    /* border: 1px solid black; */
    padding: 20px;
    

}


img{
    width: 380px;
    height: auto;
    margin-top: -1rem;

}

#dotdiv{
    padding: 15px;
    gap: 10px;
    display: flex;
    margin-top: .5rem;
}
.dotfirst{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: yellow;
 
}

.dotsecond{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(211,82,89);
    margin-top: -17px;
}


.dotthird{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(70,138,200);
   
}





